.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-auto-columns: auto auto;
  gap: 10px;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  grid-template-areas: "navbar" "cards";
}

.navbar {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background-color: #f3f3f5;
}
.navbar-logo {
  margin: 0 auto 0 0;
  padding: 5px 25px;
  background: #e63333;
  font-weight: 600;
  color: #e2e2e2;
  align-content: center;
  border-radius: 4px;
}
.navbar-search:focus {
  border: 2px solid #e63333;
  border-radius: 4px;
}
.navbar-search {
  padding: 0;
  border-left: none;
}
.navbar-search button {
  border: none;
  background-color: inherit;
  vertical-align: middle;
}
.navbar-search--active {
  display: flex;
}
.navbar-search--active input {
  border: 1px solid #e63333;
  margin-left: 5px;
  padding: 10px;
  background-color: inherit;
  min-width: 210px;
}
.navbar-search--active button {
  border: none;
}
.navbar-search input {
  border: none;
  display: none;
  margin-left: 5px;
  padding: 10px;
  background-color: inherit;
  min-width: 250px;
}
.navbar-search input:focus {
  outline: none;
  border: 1px solid #e63333;
}

.info {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: aliceblue;
  background: #103551;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 20px;
  padding: 40px 15%;
}
.cards-card {
  border: 2px solid #f3f3f5;
  border-radius: 4px;
  transition: 0.3s;
}
.cards-card img {
  width: -webkit-fill-available;
  height: 200px;
}
.cards-container {
  padding: 15px;
}
.cards-container div {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}
.cards-container div h4 {
  flex-grow: 1;
  margin: 0;
}
.cards-container div p {
  margin: 0;
}
.cards-container p {
  margin: 5px 0;
}
.cards-container h4 {
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 0 23px 0;
}
.pagination-button {
  text-decoration: none;
  display: inline-block;
  border: none;
  padding: 8px 16px;
  margin: 0 10px;
}
.pagination button:hover {
  background-color: #ddd;
  color: black;
}
.pagination .previous {
  background-color: #f1f1f1;
  color: black;
}
.pagination .next {
  background-color: #e63333;
  color: white;
}

.button--inactive {
  text-decoration: none;
  display: none;
  border: none;
  padding: 8px 16px;
  margin: 0 10px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar {
    padding: 0 20%;
  }
  .navbar-logo {
    margin: 0 20px 0 0;
  }
  .navbar-search {
    display: flex;
    flex-flow: row-reverse;
  }
  .navbar-search input {
    display: block;
  }
  .navbar-search--active {
    display: flex;
    flex-flow: row-reverse;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 20%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar {
    padding: 0 20%;
  }
  .navbar-logo {
    margin: 0 20px 0 0;
  }
  .navbar-search {
    display: flex;
    flex-flow: row-reverse;
  }
  .navbar-search input {
    display: block;
  }
  .cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 20%;
  }
}/*# sourceMappingURL=style.css.map */